body {
	background-color: #eee;
  font-family: sans-serif;
}

body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

h3 {
  margin: 10px 0;
  line-height: normal;
}

p {
  margin: 5px;
  line-height: normal;
	font-size: 12px;
}

ul {
  list-style: none;
}

ul li {
  padding: 5px;
}

button, .btn-primary {
	display: inline-block;
	width: 120px;
	margin-top: 10px;
  padding: 10px;
  background-color: green;
  border: #555 1px solid;
  border-radius: 0.5rem;
  color: #fff;
	cursor: pointer;
	text-transform: capitalize;
}

.container {
	margin-top: 10px;
	margin-left: 10px;
}

.container-flex {
	display: flex;
}

form {
	min-width: 300px;
	max-width: 600px;
}

form ul {
  width: 100%;
}

footer {
	margin: 10px 0;
}

/* footer ul li {
	font-size: 10px;
} */

input[type="text"], select {
  width: 100%;
  margin-bottom: 5px;
  padding: 10px;
  background-color: white;
  border: 1px solid whitesmoke;
  border-radius: 0.3rem;
  color: #444;
  font-size: 12px;
}
